body {
    background-color: aliceblue;
}

button {
    margin: 10px;
}

.btn {
    border-color: black;
}

button:hover {
    font-size: 125%;
}

.gif {
    margin: auto;
    display: flex;
    
}

.rating {
    text-align: center;
}